.entity-list {
    list-style: none;
    padding: 0;
  }
  
  .entity-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9; /* Light gray background */
  }
  
  .entity-item h2 {
    margin-top: 0;
    color: #333; /* Dark gray text */
  }
  
  .entity-item p {
    margin: 5px 0;
    color: #666; /* Medium gray text */
  }
  
  .entity-item p:first-child {
    font-weight: bold;
  }
  
  .entity-item ul {
    margin-top: 5px;
    padding-left: 20px;
  }
  
  .entity-item ul li {
    color: #666; /* Medium gray text for list items */
  }
 /* CSS Styles */
.button-container {
  margin-top: 10px;
  display: flex;
}

.button-container button{
  width: 200px;
}

.update-button,
.delete-button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-button {
  background-color: #4CAF50;
  color: white;
}

.update-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.delete-button:hover {
  background-color: #d32f2f;
}
 
  